* {
    margin: 0;
    padding: 0;
}


.box {
    margin-top: 200px;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    
}

.text-h1 {
    line-height: 50px;
    font-size: 1.4rem;
    margin-left: 20%;
}

.user-login {
    margin-left: 40%;

}

img {
   margin: 10px 10px;
    margin-left: 40%;
    height: 10vw;
    width: 10vw;
}